.key {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: #e2e1e4;
  padding-bottom: 5px;
  box-shadow: inset 0 0 2px 0 #333;
  transition: background-color 0.3s;
  &:last-of-type {
    border-right: 0;
  }
  &:hover {
    background-color: #fff;
  }
  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: -50%;
    height: 50%;
    width: 100%;
    transition: transform 0.3s;
    transform: scaleY(0);
    transform-origin: bottom;
    box-shadow: inset 0px -6px 5px 0px #6564644a;
    pointer-events: none;
    background: linear-gradient(#fff0, #e9e9e999, #ffffff99);
  }
  .code {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    font-size: 12px;
    color: #fff;
    background-color: #5a5d5a;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px #5a5d5a;
  }
  .hiddenCode {
    opacity: 0;
  }
  .label {
    display: flex;
    align-items: flex-end;
    font-size: 14px;
    margin-top: 4px;
    color: #856823;
  }
}

.blackKey {
  height: 87px;
  position: absolute;
  top: 0;
  background-color: #333;
  width: 8%;
  transform: translateX(-50%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 2px 4px 0 #656060;
  z-index: 2;
  &:hover {
    background-color: #515151;
  }
  .label {
    color: #e0e3da;
  }
  &.keyPressed {
    background-color: #515151;
  }
}

.fullBlackKey {
  width: 3.5%;
}

/* 键盘按键样式 */
.keyboardHigh {
  background-image: linear-gradient(#fff, #ff9353 50%);
  &::before {
    transform: scaleY(1);
    // background: linear-gradient(#fff0, #ffffff99 50%, #ff935399 60%);
  }
}
.keyboardMiddle {
  background-image: linear-gradient(#e9e9e9, #fff 50%);
  &::before {
    transform: scaleY(1);
    // background: linear-gradient(#fff0, #e9e9e999 50%, #ffffff99 60%);
  }
}
.keyboardLow {
  background-image: linear-gradient(#fff, #81a3e0 50%);
  &::before {
    transform: scaleY(1);
    // background: linear-gradient(#fff0, #ffffff99 50%, #81a3e099 60%);
  }
}
